Loading Datasets from Kaggle

In [1]:
import numpy as np
import pandas as pd
import pickle

filename = "heart_cleveland_upload.csv"

In [2]:
df = pd.read_csv(filename)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [3]:
data = np.loadtxt(filename, delimiter=",", skiprows=1)
print(data)